{
    "[javascript]": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "semi": true,
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "useTabs": false,
    "arrowParens": "avoid"
}
