#addDeviceModal .header {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
#addDeviceModal .header .name {
    font-size: 1.7rem;
}

#addDeviceModal .header .description {
    font-size: 0.9rem;
    color: #999999;
}
