.buttonGroup {
    display: inline-block;
}

.buttonGroup.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonGroup.vertical button {
    margin-right: 0px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.buttonGroup button {
    margin-bottom: 12px;
    margin-right: 8px;
    -webkit-transition: -webkit-filter 0.2s ease;
    transition: filter 0.2s ease;
}

.buttonGroup .button:not(.active) {
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
}

.buttonGroup .button:hover {
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

.buttonGroup .button.active {
    -webkit-filter: none;
    filter: none;
}
