.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;

    background-color: #1b1e22;
    background-clip: border-box;
    border: 1px solid rgba(154, 161, 171, 0.2);
    border-radius: 0.35rem;
    margin-bottom: 1.5rem !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 0, 0, 0.2);
}

.card .cardHeader {
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* padding: 1rem 1.25rem; */
    padding: 25px 20px 0 20px;

    margin-bottom: 0;
}

.card .cardHeader h6 {
    margin: 0;
    line-height: 1.2;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.card .cardHeader .dropdown {
    line-height: 1;

    position: relative;
}

/* 아마 a tag 일반설정으로 이동할 수 있음. */
.card .cardHeader .dropdown .dropdownToggle {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;

    cursor: pointer;
    white-space: nowrap;
}

.card .cardBody {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/* Card SIMPLE CSS */
/* 주의! Card와 Card Body CSS가 중복됨 => TODO_P :: SCSS 전환시 중복내용 지우기 */
/* TODO :: 모든 Component에서 margin-bottom 중복  */
.cardSimple {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 1.5rem;

    background-color: #1b1e22;
    background-clip: border-box;
    border: 1px solid rgba(154, 161, 171, 0.2);
    border-radius: 0.35rem;

    box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 0, 0, 0.2);
    /* border-left: 0.25rem solid #4e73df; */
}

.cardSimple .cardBodySimple {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
