.composition {
    display: inline-block;
    transform-origin: 50% 0;
    transform: scale(0.8);
    height: 600px;
}

.composition .icon {
    width: 40%;
    height: 40%;
    margin-top: 15%;
}

.composition .title {
    padding-top: 5px;
}
