#deviceTable .tableContent {
    overflow: auto;
}

#deviceTable .tableUtils {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#deviceTable .tableUtils > * {
    margin-left: 0.5rem;
}
