#deviceTable .tableContent {
    overflow: scroll;
}

#deviceTable .tableUtils {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#deviceTable .tableUtils > * {
    margin-left: 0.5rem;
}

#devices .tabs {
    position: absolute;
    z-index: 1;
    right: 0;
}

#devices .tabList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#devices .tab {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #1c1e22;
    border: 1px solid #24262a;
    border-top-left-radius: 10%;
    border-end-start-radius: 10%;
    color: rgba(255, 255, 255, 0.8);
}

#devices .tab.active {
    background-color: red;
}

#devices .tab .icon {
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 50%;
    margin: 20% auto;
}

#deviceTabs .tabList {
    display: flex;
    justify-content: flex-start;
}

#deviceTabs .tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3c3d42;
}

#deviceTabs .tab.active {
    background-color: red;
}

#deviceTabs .tab .icon {
    margin-left: 5%;
}

#deviceTabs .tab .title {
    margin-left: 5%;
}

#deviceTabs .tab .cancelButton {
    margin-left: auto;
}
