form input {
    margin-bottom: 30px;
}

form .title {
    font-size: 1.1rem;
}

form input {
    width: 800px;
    height: 40px;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
}
form select {
    width: 150px;
    height: 40px;
    outline: 0 none;
    border-radius: 4px;
    background: #1a1a1a no-repeat;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    color: white;
    border: none;
    margin-bottom: 30px;
    margin-right: 10px;
}

form select .title {
    font-size: 1.2rem;
}

form select option {
    border: none;
    background: #1a1a1a;
    color: white;
    padding: 3px 0;
}

form .buttons {
    display: flex;
    justify-content: flex-end;
}
