#topbar {
    height: 100px;

    margin-bottom: 18px;
    /* box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15); */
    background-color: #23262b;

    flex-flow: row nowrap;
    justify-content: flex-start;

    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
