* {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Nunito', 'NanumSquare', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

.mb {
    margin-bottom: 1.5rem;
}

#wrapper {
    display: flex;
}

#contentWrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#content {
    flex: 1 0 auto;
}
