* {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Nunito', 'NanumSquare', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
<<<<<<< HEAD

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}
=======
>>>>>>> 25548122f2eeaeabb0efce7a8b00e345f6680099
