.nav {
    display: flex;
    width: 0;
    z-index: 0;
    min-height: 100vh;
    margin-top: 0;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #23262b;
    overflow-anchor: none;
    overflow-x: hidden;
    transition: 0.5s;
}

.nav.opened {
    width: 6.5em;
}

#navHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    color: #fff;
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
}

#navHeader span {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navItem {
    position: relative;
}

.navHeading {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
    text-transform: uppercase;
}

.navDivider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 1rem 1rem;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.navXmargin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.navLink {
    cursor: pointer;
    display: block;
    position: relative;
    text-align: center;
    padding: 0.75rem 1rem;
    padding-right: 0;
    padding-left: 0;
    width: 6.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.navLink span {
    font-size: 0.65rem;
    display: block;
}

.navLink.collapsed::after {
    color: rgba(255, 255, 255, 0.5);
}

.navIcon {
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 900;
    text-align: center;
    width: 1.25rem;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#nav .collapse {
    display: none;
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
    animation-name: growIn;
    animation-duration: 0.2s;
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

#nav .collapse.open {
    display: block;
}

#nav .collapseInner {
    background-color: transparent !important;
    border-radius: 0.35rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
    padding: 0.5rem 0;
    min-width: 10rem;
    font-size: 0.85rem;
    margin: 0 0 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

#nav .collapseItem {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #9a94a7;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
    user-select: none;
}

#nav .collapseItem:hover {
    color: #f02632;
}

#nav .collapseItem.active {
    color: #f02632;
    font-weight: 700;
}

.nav .active * {
    color: #fff !important;
    font-weight: 700 !important;
}

@keyframes expand {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@media (min-width: 768px) {
    .nav.opened {
        width: 14rem;
    }

    .navLink {
        width: 100%;
        text-align: left;
        padding: 1rem;
    }
    .navLink span {
        font-size: 0.85rem;
        display: inline;
    }
    .navLink.collapsed::after {
        float: right;
        width: 1rem;
        text-align: center;
        vertical-align: 0;
        border: 0;
        font-weight: 900;
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
    }
    .navLink.collapsed.expanded::after {
        content: '\f107';
    }
    .navIcon {
        font-size: 0.85rem;
        margin-right: 0.25rem;
    }
    .navHeading {
        text-align: left;
    }
    #nav .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        animation-name: expand 0.2s forwards linear;
        margin: 0 1rem;
    }
    #nav .collapseInner {
        border-radius: 0;
    }
}
