.nav {
    width: 14rem !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
    overflow-anchor: none;
}

.nav-brand {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 1rem !important;
    color: #fff;
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
}

.nav-brand-text {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.nav-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 1rem 1rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
