.rc-pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.rc-pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #1b1e22;
    border: 1px solid #595959;
    border-radius: 5px;
    margin-right: 10px;
}

.rc-pagination li:hover {
    border-color: red;
}

.rc-pagination li:hover > * {
    color: red;
}

.rc-pagination button {
    background-color: #1b1e22;
}

.rc-pagination li.rc-pagination-item-active {
    border-color: red;
}

.rc-pagination li.rc-pagination-item-active > * {
    color: red;
}
