.section.grid-1 {
    flex: 1;
}

.section.grid-2 {
    flex: 2;
}

.section.grid-3 {
    flex: 3;
}

.section.grid-4 {
    flex: 4;
}

.section.grid-5 {
    flex: 5;
}

.section.grid-6 {
    flex: 6;
}

.section.grid-7 {
    flex: 7;
}

.section.grid-8 {
    flex: 8;
}

.section.grid-9 {
    flex: 9;
}

.section.grid-10 {
    flex: 10;
}

.section.grid-11 {
    flex: 11;
}

.section.grid-12 {
    flex: 12;
}
