.policyList .header {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#policyMagician .tabs {
    display: flex;
}

#policyMagician .tabs .policyList {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#policyMagician .tabList {
    display: flex;
    flex-direction: column;
}

#policyMagician .tab {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease;
}

#policyMagician .tab.active {
    background-color: #404040;
}

#policyMagician .tab:hover {
    background-color: #404040;
}

#policyMagician .tabContent {
}

#policyMagician .tabContent .category {
    font-size: 0.7rem;
    color: #8c8c8c;
}

.policyForm .header {
    margin-bottom: 30px;
}

.policyForm .header .name {
    font-size: 1.7rem;
}

.policyForm .header .description {
    font-size: 0.9rem;
    color: #999999;
}

.policyForm .parameter {
    margin-bottom: 30px;
}

.policyForm .parameter .name {
    font-size: 1.5rem;
}
