#tableArea {
    width: 100%;
    text-align: left;

    color: #6c7293;

    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

#tableArea td,
#tableArea th {
    box-sizing: content-box;

    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1;
    white-space: nowrap;

    padding: 0.9375rem;
    /* border-top: 1px solid #2c2e33; */
}
