.tableWrapper .columnGroup {
    font-size: 18px;
}

.table {
    position: relative;
}

.table .tableRow.clicked {
    background-color: #404040;
}

.table .tableWrapper {
    /* overflow: scroll; */
}

.table .tableWrapper .tableHeader {
    position: sticky;
    top: 0;
    background-color: #1b1e22;

    z-index: 0;
}

.tableHeader .columnTitle i {
    margin: 3px 0 0 5px;
}

.tableHeading {
    display: flex;
    justify-content: space-between;
}

::-webkit-scrollbar {
    display: none;
}
