#status {
    border-radius: 0.25rem;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.5rem 0.7rem;
    font-weight: 700;

    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    color: #ffffff;
}

.toggleSwitch {
    display: inline-block;
}

.toggleSwitch input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggleSwitch label {
    cursor: pointer;
    width: 4rem;
    height: 2rem;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.toggleSwitch label:after {
    content: '';
    position: absolute;
    top: 12%;
    left: 8%;
    width: 37%;
    height: 75%;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.toggleSwitch input:checked + label {
    background: #4e73df;
}

.toggleSwitch input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.dropDownMenu {
}

.dropDownMenuButton {
    color: #d1d3e2;
    font-size: 0.875rem;
    font-weight: 900;

    text-align: center;
    width: 1.25rem;

    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.dropDownMenuButton::before {
    content: '\f142';
}
